//
   Created by bsdo64 on 2014-06-09.

footer.black-wrapper
    .container.box
        p.pull-left
            | © 2014 &nbsp
            strong Uni_Art
            | . The best designs inspirations.