//
   Created by bsdo64 on 2014-06-09.
extends layout
block content
    .wrapper.asidebg
        .primary.portfolio
            .container.box
                .light-wrapper
                    h1 Login Success
                    br
                    br
                    .alert.alert-success
                        strong 로그인 완료
                        | 로그인 되었습니다.
                //
                   wrapper
                br
                br
            //
               /.container
            //
               /.light-wrapper
    include footer