//
   Created by bsdo64 on 2014-06-09.
extends layout
-var name = JSON.parse(name)
block content
    .wrapper.asidebg
        .primary.portfolio
            .container.box
                .light-wrapper
                    h1 회원가입 완료
                    br
                    br
                    .alert.alert-success
                        strong 회원가입이 완료되었습니다.
                        | 원하는 작품을 마음껏 올리세요!
                //
                   wrapper
                br
                br
            //
               /.container
            //
               /.light-wrapper
    include footer