//
   Created by bsdo64 on 2014-06-11.

//
   Created by bsdo64 on 2014-06-09.
extends layout
block content
    .wrapper.asidebg
    .primary.portfolio
        .container.box
            .light-wrapper
                h1 Uni Art
                p
                    | University + Art
                    br
                    | 미술대학 학생들의 미술품을 취급하는 사이트입니다!
                p
                    | 기존에 있는 전문 작가들의 미술품은 그 비싼 가격으로 대중들이 쉽게 다가가지 못하는 것이 현실이었습니다.
                    | 우리 사이트는 그러한 대중들이 미술품에 더 가까워지고 더 많은 관심을 쏟을 수 있도록 하기 위해서 만들어졌습니다.
                    | 이 사이트는 미대생들의 수준 높은 작품들을 저렴한 가격에 구할 수 있는 사이트입니다.
                    | 일류 미대생들이 땀 흘려 만든 작품들, 즐겁게 감상해보시고 마음에 드는 미술품을 발견하시고 가셔서 집에도 예쁜 미술품 꼭 하나씩 마련해보세요.
                br
                p
                    | 또한 자신이 정성들여 만든 미술품을 팔고 싶으신 미대생 분들은 우리 사이트에 연락주세요!
                    | 정말 소중하게 간직하고 있지만 학교를 다니는 날이 많아질수록 점점 둘 데가 없어 창고에 쌓여가는 미술품들 이곳에는 그러한 미술품을 원하시는 분들이 다녀가고 있습니다. 여러분의 소중한 미술품을 아무도 볼 수 없게 쌓아두지 말고, 소중하게 쓰실 수 있는 분들에게 드리는 것도 좋지 않을까요?
                br(style='clear: both;')
            //

        //
           /.container
        //
           /.light-wrapper
    include footer